{% extends 'layout2.html' %}

{% block content %}

<div class="trip_planner row">

  <div class="row">

    <h1 class="selected-title">Hotels</h1>

    <div class="selected col-lg-12 col-md-12 col-sm-12">

      <div class="col-lg-5 col-md-5 col-sm-5">
        <img src="http://placehold.it/300x300" class="img-responsive" />
      </div>

      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-6 info">
            <p class="heading">Address:</p>
            <p>{{ hotel.place.address }}</p>
            <p>{{ hotel.place.city }}, {{ hotel.place.state }}</p>
            <p>{{ hotel.place.phone }}</p>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-6 info">
            <p class="heading">Amenities:</p>
            <p>{{ hotel.amenities }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for hotel in hotels %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading{{ hotel.id }}">
        <h4 class="panel-title">
          <a class="collapsed"
             role="button"
             data-toggle="collapse"
             data-parent="#accordion"
             href="#collapse{{ hotel.id }}"
             aria-expanded="false"
             aria-controls="collapse{{ hotel.id }}">
            {{ hotel.name }}
            <div class="pull-right">
              {% for i in Array.prototype.constructor.call(null,
              hotel.num_stars) %}
                <i class="fa fa-star yellow"></i>
              {% endfor %}
            </div>
          </a>
        </h4>
      </div>
      <div id="collapse{{ hotel.id }}"
           class="panel-collapse collapse"
           role="tabpanel"
            aria-labelledby="heading{{ hotel.id }}">
        <div class="panel-body info">
          <div class="row">
            <div class="col-lg-6">
              <p class="heading-small">Address:</p>
              <p>{{ hotel.place.address }}</p>
              <p>{{ hotel.place.city }}, {{ hotel.place.state }}</p>
              <p>{{ hotel.place.phone }}</p>
            </div>
            <div class="col-lg-6">
              <p class="heading-small">Amenities:</p>
              <p>{{ hotel.amenities }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="col-sm-12">
    <div class="social">
      <ul class="list-unstyled">
        <li>
          <a href="#">
            <i class="fa fa-facebook-official"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-google-plus-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
