<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="../public/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaI8oHm6wF4mZPFjGyK1rCjA3AInHCChg&sensor=true"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <script>
    function initialize_gmaps() {

      // var map = new google.maps.Map(document.getElementById('map'), {
      //     zoom: 13,
      //     center: {lat: 51.501904, lng: -0.115871}
      //   });


      // initialize new google maps LatLng object
      var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
      // set the map options hash
      var mapOptions = {
          center: myLatlng,
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      // get the maps div's HTML obj
      var map_canvas_obj = document.getElementById("map-canvas");
      // initialize a new Google Map with the options
      var map = new google.maps.Map(map_canvas_obj, mapOptions);
      // Add the marker to the map
      var marker = new google.maps.Marker({
          position: myLatlng,
          title:"Hello World!"
      });
      // Add the marker to the map by calling setMap()
      marker.setMap(map);


      function setMaps(){
      var test=0;
      if (!test) {
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
        test=1;
      }
      else {
        transitLayer.setMap(null);
        test=0;
      }
      }
      return map; 
     }



    $(document).ready(function() {
        initialize_gmaps();
        hideAllDivs();
        $("#menuSchedule").slideDown('fast');
    });
    </script>


  </head>

  <body>
    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-items">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/wiki">Trip Planner</a>
        </div>
        <div id="nav-items" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/wiki/">Home</a></li>
            <li><a href="/wiki/add">About</a></li>
            <li><a href="/users">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="map-canvas"></div>
  
    <div class="posNeeded cbp-spmenu cbp-spmenu-right" id="cbp-spmenu-s2">
      <div class="menubar">
        <button  class= "btn-primary customButton" id="showRight"><i class="fa fa-chevron-right"></i></button>
        <button  class= "btn-primary customButton" id="showSchedule"><i class="fa fa-home"></i></button>
        <button  class= "btn-primary customButton" id="showHotel"><i class="fa fa-bed"></i></button>
        <button  class= "btn-primary customButton" id="showRestaurant"><i class="fa fa-cutlery"></i></button>
        <button  class= "btn-primary customButton" id="showActivities"><i class="fa fa-camera-retro"></i></button>
        <button  class= "btn-primary customButton" id="showFun"><i class="fa fa-bolt"></i></button>
      </div>
      <div class="david">
        <div id="menuSchedule">
        <div class="day-header">Itinerary</div>

          <button type="button" class="day-button" data-toggle="collapse" data-target="#demo1">Day 1</button>
          <div id="demo1" class="collapse day-data">
            <div class="weather"><i class="fa fa-sun-o"></i>  49°</div>
            <div class="day-to-day">Hotel</div>
            <ul>
              <li class="day-list">DoubleTree</li>
            </ul>
            <div class="day-to-day">Restaurants</div>
            <ul>
              <li class="day-list">Lenny's</li>
              <li class="day-list">Roti</li>
            </ul>
            <div class="day-to-day">Activities</div>
            <ul>
              <li class="day-list">Shopping</li>
              <li class="day-list">Sightseeing</li>
            </ul>
          </div>

          <button type="button" class="day-button" data-toggle="collapse" data-target="#demo2">Day 2</button>
           <div id="demo2" class="collapse day-data">
            <div class="weather"><i class="fa fa-cloud"></i>  55°
            </div>
            <div class="day-to-day">Hotel</div>
            <ul>
              <li class="day-list">Hilton</li>
            </ul>
            <div class="day-to-day">Restaurants</div>
            <ul>
              <li class="day-list">Justino's</li>
              <li class="day-list">PF Chang's</li>
            </ul>
            <div class="day-to-day">Activities</div>
            <ul>
              <li class="day-list">Sleep</li>
              <li class="day-list">Nightclub</li>
            </ul>
          </div>
          <button type="button" class="day-button" data-toggle="collapse" data-target="#demo3">Day 3</button>
          <div id="demo3" class="collapse day-data">
            Day 3 Activities
          </div>

          <button type="button" class="day-button">Add another day!</button>
        </div>

        <div id="menuHotel"></div>

        <div id="menuRestaurant">
          <div class="day-header">Restaurant</div>

          <button type="button" class="day-button" data-toggle="collapse" data-target="#demo1">Day 1</button>
          <div id="demo1" class="collapse day-data">
            <div class="weather"><i class="fa fa-sun-o"></i>  49°
            </div>
            <div class="day-to-day">Hotel</div>
            <ul>
              <li class="day-list">DoubleTree</li>
            </ul>
            <div class="day-to-day">Restaurants</div>
            <ul>
              <li class="day-list">Lenny's</li>
              <li class="day-list">Roti</li>
            </ul>
            <div class="day-to-day">Activities</div>
            <ul>
              <li class="day-list">Shopping</li>
              <li class="day-list">Sightseeing</li>
            </ul>
          </div>

          <button type="button" class="day-button" data-toggle="collapse" data-target="#demo2">Day 2</button>
           <div id="demo2" class="collapse day-data">
            <div class="weather"><i class="fa fa-cloud"></i>  55°
            </div>
            <div class="day-to-day">Hotel</div>
            <ul>
              <li class="day-list">Hilton</li>
            </ul>
            <div class="day-to-day">Restaurants</div>
            <ul>
              <li class="day-list">Justino's</li>
              <li class="day-list">PF Chang's</li>
            </ul>
            <div class="day-to-day">Activities</div>
            <ul>
              <li class="day-list">Sleep</li>
              <li class="day-list">Nightclub</li>
            </ul>
          </div>

          <button type="button" class="day-button" data-toggle="collapse" data-target="#demo3">Day 3</button>
          <div id="demo3" class="collapse day-data">
            Day 3 Activities
          </div>

          <button type="button" class="day-button">Add another day!</button>  
        </div>
      
      <div id="menuActivities">
      <div class="trip_planner row">

       <div class="row">

         <h1 class="selected-title">Activities</h1>

         <div class="selected col-lg-12 col-md-12 col-sm-12">

           <div class="col-lg-5 col-md-5 col-sm-5">
             <img src="http://placehold.it/300x300" class="img-responsive" />
           </div>

           <div class="col-lg-7 col-md-7 col-sm-7">
             <div class="row">

               <div class="col-lg-12 col-md-12 col-sm-6 info">
                 <p class="heading">Address:</p>
                 <p>{{ activity.place.address }}</p>
                 <p>{{ activity.place.city }}, {{ activity.place.state }}</p>
                 <p>{{ activity.place.phone }}</p>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-6 info">
                 <p class="heading">Age Range:</p>
                 <p>{{ activity.age_range }}</p>
               </div>

             </div>
           </div>
         </div>
       </div>

       <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
         {% for activity in activities %}
         <div class="panel panel-default">
           <div class="panel-heading" role="tab" id="heading{{ activity.id }}">
             <h4 class="panel-title">
               <a class="collapsed"
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse{{ activity.id }}"
                  aria-expanded="false"
                  aria-controls="collapse{{ activity.id }}">
                 {{ activity.name }}
               </a>
             </h4>
           </div>
           <div id="collapse{{ activity.id }}"
                class="panel-collapse collapse"
                role="tabpanel"
                 aria-labelledby="heading{{ activity.id }}">
             <div class="panel-body info">
               <div class="row">
                 <div class="col-lg-6">
                   <p class="heading-small">Address:</p>
                   <p>{{ activity.place.address }}</p>
                   <p>{{ activity.place.city }}, {{ activity.place.state }}</p>
                   <p>{{ activity.place.phone }}</p>
                 </div>
                 <div class="col-lg-6">
                   <p class="heading-small">Age Range:</p>
                   <p>{{ activity.age_range }}</p>
                 </div>
               </div>
             </div>
           </div>
         </div>
         {% endfor %}
       </div>

       <div class="col-sm-12">
         <div class="social">
           <ul class="list-unstyled">
             <li>
               <a href="#">
                 <i class="fa fa-facebook-official"></i>
               </a>
             </li>
             <li>
               <a href="#">
                 <i class="fa fa-twitter-square"></i>
               </a>
             </li>
             <li>
               <a href="#">
                 <i class="fa fa-google-plus-square"></i>
               </a>
             </li>
           </ul>
         </div>
       </div>
      </div>
      <div id="menuFun">
        <button  class= "btn-primary customButton" id="showTrain"><i class="fa fa-chevron-right"></i></button>
      </div>

      </div>
    </div>
  </div>

  <script src="../node_modules/desandro-classie/classie.js"></script>
  <script>

var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
    menuSchedule = document.getElementById( 'menuSchedule' ),
    menuHotel = document.getElementById( 'menuHotel' ),
    menuRestaurant = document.getElementById( 'menuRestaurant' ),
    menuActivities = document.getElementById( 'menuActivities' ),
    menuFun = document.getElementById( 'menuFun' ),
    showRight = document.getElementById( 'showRight' ),
    showSchedule = document.getElementById( 'showSchedule' ),
    showHotel = document.getElementById( 'showHotel' ),
    showRestaurant = document.getElementById( 'showRestaurant' ),
    showActivities = document.getElementById( 'showActivities' ),
    showFun = document.getElementById( 'showFun' ),
    showTrain = document.getElementById( 'showTrain' ),
    body = document.body;

function hideAllDivs() {
  $("#menuRight").hide();
  $("#menuSchedule").hide();
  $("#menuHotel").hide();
  $("#menuRestaurant").hide();
  $("#menuActivities").hide();
  $("#menuFun").hide();
}

showRight.onclick = function() {
  classie.toggle( menuRight, 'cbp-spmenu-open' );
  disableOther( 'showRight' );
};

showSchedule.onclick = function() {
  hideAllDivs();
  $("#menuSchedule").slideDown('slow');
};

showHotel.onclick = function() {
  hideAllDivs();
  $("#menuHotel").slideDown('slow');
};

showRestaurant.onclick = function() {
  hideAllDivs();
  $("#menuRestaurant").slideDown('fast');
};

showActivities.onclick = function() {
  hideAllDivs();
  $("#menuActivities").slideDown('slow');
};

showFun.onclick = function() {
  hideAllDivs();
  $("#menuFun").slideDown('slow');
};

showTrain.onclick = function() {
  map.setMaps();
};

function disableOther( button ) {
  if( button !== 'showRight' ) {
    classie.toggle( showRight, 'disabled' );
  }
}
  </script>

  </body>
</html>
