<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="../assets/stylesheets/style.scss" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaI8oHm6wF4mZPFjGyK1rCjA3AInHCChg&sensor=true"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">




    <script>
    function initialize_gmaps() {
      // initialize new google maps LatLng object
      var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
      // set the map options hash
      var mapOptions = {
          center: myLatlng,
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      // get the maps div's HTML obj
      var map_canvas_obj = document.getElementById("map-canvas");
      // initialize a new Google Map with the options
      var map = new google.maps.Map(map_canvas_obj, mapOptions);
      // Add the marker to the map
      var marker = new google.maps.Marker({
          position: myLatlng,
          title:"Hello World!"
      });
      // Add the marker to the map by calling setMap()
      marker.setMap(map);
     }

    $(document).ready(function() {
        initialize_gmaps();
    });
    </script>


  </head>

  <body>
    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-items">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/wiki">Trip Planner</a>
        </div>
        <div id="nav-items" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/wiki/">Home</a></li>
            <li><a href="/wiki/add">About</a></li>
            <li><a href="/users">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="map-canvas"></div>
  
  <div class="posNeeded cbp-spmenu cbp-spmenu-right" id="cbp-spmenu-s2">
    <div class="menubar">
      <button  class= "btn-primary customButton" id="showRight"><i class="fa fa-chevron-right"></i></button>
      <button  class= "btn-primary customButton" id="showSchedule"><i class="fa fa-home"></i></button>
      <button  class= "btn-primary customButton" id="showHotel"><i class="fa fa-bed"></i></button>
      <button  class= "btn-primary customButton" id="showRestaurant"><i class="fa fa-cutlery"></i></button>
      <button  class= "btn-primary customButton" id="showActivities"><i class="fa fa-camera-retro"></i></button>
      <button  class= "btn-primary customButton" id="showFun"><i class="fa fa-bolt"></i></button>
    </div>
    <div class="david">

      <div class="day-header">Itinerary</div>

        <button type="button" class="day-button" data-toggle="collapse" data-target="#demo1">Day 1</button>
        <div id="demo1" class="collapse day-data">
          <div class="weather"><i class="fa fa-sun-o"></i>  49°
          </div>
          <div class="day-to-day">Hotel</div>
          <ul>
            <li class="day-list">DoubleTree</li>
          </ul>
          <div class="day-to-day">Restaurants</div>
          <ul>
            <li class="day-list">Lenny's</li>
            <li class="day-list">Roti</li>
          </ul>
          <div class="day-to-day">Activities</div>
          <ul>
            <li class="day-list">Shopping</li>
            <li class="day-list">Sightseeing</li>
          </ul>
        </div>

        <button type="button" class="day-button" data-toggle="collapse" data-target="#demo2">Day 2</button>
         <div id="demo2" class="collapse day-data">
          <div class="weather"><i class="fa fa-cloud"></i>  55°
          </div>
          <div class="day-to-day">Hotel</div>
          <ul>
            <li class="day-list">Hilton</li>
          </ul>
          <div class="day-to-day">Restaurants</div>
          <ul>
            <li class="day-list">Justino's</li>
            <li class="day-list">PF Chang's</li>
          </ul>
          <div class="day-to-day">Activities</div>
          <ul>
            <li class="day-list">Sleep</li>
            <li class="day-list">Nightclub</li>
          </ul>
        </div>

        <button type="button" class="day-button" data-toggle="collapse" data-target="#demo3">Day 3</button>
        <div id="demo3" class="collapse day-data">
          Day 3 Activities
        </div>

        <button type="button" class="day-button">Add another day!</button>

    </div>
  </div>

  <div id="menuSchedule">Test One</div>
  <div id="menuHotel">Test One</div>
  <div id="menuRestaurants">Test One</div>
  <div id="menuActivities">Test One</div>
  <div id="menuFun">Test One</div>

  <script src="../node_modules/desandro-classie/classie.js"></script>
  <script>

var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
    menuSchedule = document.getElementById( 'menuSchedule' ),
    menuHotel = document.getElementById( 'menuHotel' ),
    menuRestaurant = document.getElementById( 'menuRestaurant' ),
    menuActivities = document.getElementById( 'menuActivities' ),
    menuFun = document.getElementById( 'menuFun' ),
    showRight = document.getElementById( 'showRight' ),
    showSchedule = document.getElementById( 'showSchedule' ),
    showHotel = document.getElementById( 'showHotel' ),
    showRestaurant = document.getElementById( 'showRestaurant' ),
    showActivities = document.getElementById( 'showActivities' ),
    showFun = document.getElementById( 'showFun' ),
    body = document.body;

showRight.onclick = function() {
  classie.toggle( menuRight, 'cbp-spmenu-open' );
  disableOther( 'showRight' );
};

showSchedule.onclick = function() {
  classie.toggle( menuSchedule, 'cbp-spmenu-open' );
};

showHotel.onclick = function() {
  classie.toggle( menuHotel, 'cbp-spmenu-open' );
};

showRestaurant.onclick = function() {
  classie.toggle( menuRestaurant, 'cbp-spmenu-open' );
};

showActivities.onclick = function() {
  classie.toggle( menuActivities, 'cbp-spmenu-open' );
};

showFun.onclick = function() {
  classie.toggle( menuFun, 'cbp-spmenu-open' );
};

function disableOther( button ) {
  if( button !== 'showRight' ) {
    classie.toggle( showRight, 'disabled' );
  }
}
  </script>

  </body>
</html>
