/*index css*/
/* $main_color: #1A2930; */
* {
  font-family: 'Raleway', 'Helvetica', san-serif; }

html, body {
  width: 100%;
  background-color: #031424; }

html, body, .container-fluid, .row, .map {
  height: 100%; }

body {
  padding-top: 50px; }

/* #map-canvas { */
/*   width: $map_width; */
/*   float:left; */
/*   height: 100%; */
/*   position: relative; */
/* } */
#map-canvas {
  padding: 0;
  height: 100%;
  width: 100%;
  height: calc(100% - 0px);
  border-right: 5px solid #8EAEBD;
  overflow-y: hidden; }

#menubar {
  background-color: red;
  height: 100%; }

.panel {
  margin-top: 10%;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

#bottomPanel {
  margin-top: 0; }

#dateShower {
  margin-bottom: 3%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border: solid thin black;
  display: block; }

#dateShower .panel-body {
  padding: 1%;
  text-align: center;
  float: left;
  display: inline-block; }

.lookupHeader {
  margin: 2%;
  width: 70%; }

.dropped {
  float: left;
  display: inline-block; }

.plusBtn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  color: white;
  line-height: 10px;
  text-align: center;
  background: teal;
  border: none;
  vertical-align: middle; }

.redBtn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 7px;
  color: white;
  line-height: 7px;
  text-align: center;
  background: red;
  border: none;
  margin-left: 5%; }

.redBtnOne {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 7px;
  color: white;
  line-height: 7px;
  text-align: center;
  background: red;
  border: none;
  vertical-align: 50%;
  margin-left: 5%; }

.lookupHeaderr {
  margin: 2%;
  width: 70%;
  display: inline-block;
  float: left;
  font-size: 12px; }

#dateSelector {
  margin-bottom: 0;
  padding: 2%; }

.dateBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: white;
  line-height: 15px;
  text-align: center;
  background: brown;
  border: none;
  vertical-align: middle; }

.navbar {
  background-color: #CF6766;
  border-bottom: 5px solid #CF6766; }
  .navbar a, .navbar li > a {
    color: #FFF;
    transition: all 0.3s ease-out; }
    .navbar a:hover, .navbar li > a:hover {
      background-color: #c3403f;
      box-shadow: 0 5px #8EAEBD;
      transition: all 0.4s ease-out; }

.trip_planner {
  overflow-y: auto; }
  .trip_planner h1 {
    color: #FFF; }

/*   width: 100% - $map_width; */
/*   float: left; */
/*   height: 100%; */
/* } */
.clearfix {
  content: " ";
  display: table;
  clear: both; }

.social {
  text-align: center; }
  .social li {
    display: inline-block;
    margin: 0 5px; }
    .social li a {
      color: #FFF;
      font-size: 42px; }

.selected-title {
  margin: 20px 0 10px 5%; }

.selected {
  margin: 0 auto;
  padding: 20px 5%;
  color: #fff; }

.heading {
  font-size: 120%; }

.heading-small {
  font-size: 110%; }

.info-area {
  padding: 15px;
  color: #333;
  background-color: #f5f5f5; }
  .info-area p {
    margin-top: 0px;
    margin-bottom: 0px; }

.info + .info {
  margin-top: 10px; }

.info p {
  margin-top: 0px;
  margin-bottom: 0px; }

.panel {
  margin-top: 20px;
  width: 90%; }

.yellow {
  color: #f1c40f; }

.green {
  color: #2ecc71; }
